body {
    background-color: #e0e0e0; /* abu-abu muda */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 98%;
    margin: auto;
}

.upload-box {
    background-color: #6495ED;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.upload-box h3 {
    margin-top: 0;
}

.upload-box input[type="file"] {
    margin-top: 10px;
}

.upload-box button {
    margin-left: 10px;
    background-color: white;
    color: #6495ED;
    font-weight: bold;
    border: none;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
}

.riwayat-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.riwayat-box h4 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f0f0f0;
}

.hapus-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.file-label {
    display: inline-block;
    padding: 8px 140px;
    background-color: white;
    color: #6495ED;
    border: 2px solid #6495ED;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 10px;
}


#namaFile {
    font-size: 14px;
    color: #444;
}